<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title>TestApp</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular-resource.js"></script>
    <script src="client.js"></script>
</head>
<body>
<div ng-controller="Controller">
    <form class="navbar-form navbar-left">
        <input type="file" id="filename" required>
        <input type="submit" class="btn btn-warning" value="Загрузить" ng-click="file()">
    </form>
    <div class="row col-md-offset-1 col-md-4" ng-if="isError">
        <button type="button" class="btn btn-info" ng-click="list()">Получить список слов</button>

        <table class="table table-stripped table-hover">
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success" ng-click="ckeck()">Проверить текст на скобки</button>
        <div class="input-group-addon">{{label}}</div>
    </div>
</div>
</body>
</html>